---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Goran Tenić | About">
  <div class="intro">
    <img src="/assets/goran.png" alt="Goran" />
    <p>
      Hi, my name is Goran and I am a software developer currently working for <a class="link"
        href="https://vxcompany.com/">VX Company</a
      >.
    </p>
    <p>
      I have experience in a variety of programming languages and am always
      looking to learn and grow as a developer.
    </p>
    <p>
      You can find me on social media platforms such as <a class="link"
        href="https://github.com/goranzu">GitHub</a
      >,
      <a class="link" href="https://nl.linkedin.com/">LinkedIn</a>, and <a class="link"
        href="https://twitter.com/">Twitter</a
      >.
      <p>Thank you for visiting my website!</p>
    </p>
    <!-- <p class="clearfix"></p> -->
  </div>

  <div class="contact">
    <h2>Contact</h2>
    <p>
      Want to get in touch? You can reach me at the following email address: <a class="link"
        href="mailto:goran@gorantenic.com">goran@gorantenic.com</a
      >
    </p>
  </div>
</Layout>

<style lang="scss">
  .intro > p + p {
    margin-top: 16px;
  }

  .intro {
    img {
      max-width: 125px;
      border-radius: 5px;
      float: right;
      margin-left: 16px;

      @media (min-width: 600px) {
        max-width: 150px;
      }
    }
  }
</style>
