---
import "modern-css-reset";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const pathName = new URL(Astro.request.url).pathname;
const currentPath = pathName.slice(1);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/favicon/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="name">
          <p>Goran Tenić</p>
        </div>
        <nav>
          <ul>
            <li>
              <a class={currentPath === "" ? "link active" : "link"} href="/"
                >About</a
              >
            </li>
            <!-- <li>
              <a
                class={currentPath === "projects" ? "active" : ""}
                href="/projects">Projects</a
              >
            </li> -->
          </ul>
        </nav>
      </header>
      <main>
        <slot />
      </main>
      <footer>
        <p>Copyright (c) 2022 Goran Tenić. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>

<style is:global lang="scss">
  :root {
  }
  html {
    background-color: #f6f6f6;
    font-family: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }

  @media (min-width: 600px) {
    body {
      font-size: 1.125rem;
    }
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  header {
    display: flex;
    flex-direction: column;
    padding: 16px 0;

    > * + * {
      margin-top: 8px;
    }

    .name {
      font-size: 1.5rem;
    }

    nav {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1.1rem;

        display: flex;
        gap: 24px;
      }

      a {
        color: inherit;
      }
    }
  }

  .link {
    color: inherit;
    text-decoration: none;
    position: relative;

    &::after {
      position: absolute;
      bottom: -3.5px;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: hsl(179, 95%, 36%);
      transition: all 0.05s ease;
    }

    &:hover::after {
      transform: translateY(-1.5px);
    }
  }

  .active {
    font-weight: 700;
  }

  .container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
  }

  .container > * + * {
    margin-top: 24px;
  }

  footer {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    opacity: 0.7;
    padding: 16px 0;
  }

  .clearfix {
    clear: both;
  }

  main {
    > * + * {
      margin-top: 24px;
    }
  }
</style>
